$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.jumbotron {
  background-color: #3299bb;
}

.results {
  margin-top: 20px;
}

.question {
  color: #ffffff;
}

@media (max-width: 768px) {
  .jumbotron {
    padding-top: 10px;
  }
  .input-group {
    margin-top: 10px;
  }
}