<div class="jumbotron">
    <div class="col-sm-12 text-center">
        <h3 class="question"><i>What is the minimum number of coins you must carry?</i></h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form action="">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="input-group">
                        <span class="input-group-addon">£</span>
                        <input id="pounds" class="form-control" type="number" min="0" placeholder="e.g. 15.92" ng-model="pounds" ng-change="calculateCoinsNeeded()">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input id="pence" class="form-control" type="number" min="0" placeholder="e.g. 4567" ng-model="pence" ng-change="calculateCoinsNeeded()">
                        <span class="input-group-addon">pence</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="results panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Total = £{{total | number:2}}</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Denomination</th>
                            <th>Number of coins</th>
                        </tr>
                        <tr ng-repeat="coin in coins">
                            <td>{{coin.denomination}}</td>
                            <td>{{coin.numberNeeded | number}}</td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <h4>Coins Needed = {{ coinsNeeded | number }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
